---
import { basics } from "@/data/cv.json";
import Section from "@/components/cv/Section.astro";
import Mail from "@/components/icons/icon-mail.astro";
import WhatsApp from "@/components/icons/icon-whatsapp.astro";
import GitHub from "@/components/icons/icon-github.astro";
import LinkedIn from "@/components/icons/icon-linkedin.astro";
import Site from "@/components/icons/icon-site.astro";
import X from "@/components/icons/icon-twitter.astro";
import Location from "@/components/icons/icon-location.astro";
import { Image } from "astro:assets";

const { name, label, image, location, profiles, phone, email, url } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};

const linkedInInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedInUrl = linkedInInfo?.url;

const githubInfo = profiles.find(({ network }) => network === "GitHub");
const githubUrl = githubInfo?.url;

const printInfo = [email, phone, linkedInUrl, githubUrl, url]
  .filter(Boolean)
  .join(" --- ");
---

<Section>
  <div class="hidden print:block text-xs mb-4">
    {printInfo}
  </div>

  <div class="flex justify-between gap-2 items-center">
    <div>
      <h1 class="text-2xl font-bold tracking-tight">{name}</h1>
      <h2 class="text-zinc-700 mt-2 max-w-md font-medium text-sm text-wrap">
        {label}
      </h2>
      <span class="flex text-xs items-center gap-x-2 mt-2 opacity-75">
        <Location class="size-4" />
        {city}, {region}
      </span>
      <footer class="mt-6 print:hidden">
        <div class="flex gap-x-4 items-center">
          {
            email && (
              <a
                href={`mailto:${email}`}
                title={`Message ${name} to ${email}`}
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Email"
                class="bg-background-muted rounded-lg p-1.5"
              >
                <Mail class="size-5 text-white hover:text-accent transition-colors duration-200 ease-in-out" />
              </a>
            )
          }
          {
            phone && (
              <a
                href={`tel:${phone}`}
                title={`Call ${name} at ${phone}`}
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Phone"
                class="bg-background-muted rounded-lg p-1.5"
              >
                <WhatsApp class="size-5 text-white hover:text-accent transition-colors duration-200 ease-in-out" />
              </a>
            )
          }
          {
            url && (
              <a
                href={`${url}`}
                title={`Visit the site of ${name} at ${url}`}
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Site"
                class="bg-background-muted rounded-lg p-1.5"
              >
                <Site class="size-5 text-white hover:text-accent transition-colors duration-200 ease-in-out" />
              </a>
            )
          }
          {
            profiles.map(({ network, url, username }) => {
              const Icon = SOCIAL_ICONS[network];
              return (
                <a
                  href={url}
                  title={`Visitar el perfil de ${name} en ${network}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={network}
                  class="bg-background-muted rounded-lg p-1.5"
                >
                  <Icon class="size-5 text-white hover:text-accent transition-colors duration-200 ease-in-out" />
                </a>
              );
            })
          }
        </div>
      </footer>
    </div>

    <figure>
      <Image
        src={image}
        alt={name}
        height={1080}
        width={1080}
        loading="eager"
        class="aspect-square rounded-md size-28 object-cover object-center shadow-lg"
      />
    </figure>
  </div>
</Section>
