---
import { Image } from "astro:assets";

const {
  name,
  description,
  logo,
  isCore = false,
  showCoreBadge = true,
} = Astro.props;

const isPublicPath =
  typeof logo === "string" && (logo.startsWith("/") || logo.startsWith("./"));
---

<div class="flex bg-background-muted flex-col rounded-lg p-6 relative">
  {
    isCore && showCoreBadge && (
      <div class="absolute top-3 right-3 z-10">
        <span class="inline-flex uppercase items-center justify-center px-2 py-0.5 text-xs font-medium bg-foreground text-background rounded-full">
          Core Stack
        </span>
      </div>
    )
  }
  <div class="relative aspect-square w-12">
    {
      isPublicPath ? (
        <img src={logo} alt={name} class="object-contain w-full h-full" />
      ) : (
        <Image src={logo} alt={name} class="object-contain" />
      )
    }
  </div>
  <div class="mt-8 flex flex-col gap-2">
    <h2 class="font-serif text-2xl font-medium">{name}</h2>
    <p class="text-sm text-muted-foreground">{description}</p>
  </div>
</div>
