---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import ServiceBadge from "@/components/shared/ServiceBadge.astro";
import ProjectDetail from "@/components/project/ProjectDetail.astro";
import { buttonVariants } from "@/components/ui/button";
import PageHeader from "@/components/shared/PageHeader.astro";

import { cn } from "@/lib/utils";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.id },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;

const { data, id } = project;
const {
  title,
  description,
  year,
  mainImage,
  siteUrl,
  client,
  services,
  codeUrl,
} = data;

const { Content } = await render(project);

export const prerender = true;
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description} />
  <div
    class="grid p-4 md:p-6 mt-8 md:mt-12 mb-12 md:mb-24 rounded grid-cols-1 bg-background-muted sm:grid-cols-2 lg:grid-cols-4 gap-6"
  >
    <ProjectDetail label="Client">
      {client ?? "Personal"}
    </ProjectDetail>
    <ProjectDetail label="Year">
      {year}
    </ProjectDetail>
    <ProjectDetail label="Category">
      {client ? "Professional" : "Personal"}
    </ProjectDetail>
    <ProjectDetail label="Explore">
      <div class="flex flex-col gap-2 sm:flex-row">
        <a
          href={siteUrl}
          target="_blank"
          class={cn(
            buttonVariants({ variant: "default", size: "sm" }),
            "w-full sm:w-auto",
            !siteUrl && "opacity-50 cursor-not-allowed pointer-events-none"
          )}
        >
          {siteUrl ? "Visit Site" : "In Progress"}
        </a>
        <a
          href={codeUrl}
          target="_blank"
          class={cn(
            buttonVariants({ variant: "outline", size: "sm" }),
            "w-full sm:w-auto",
            !codeUrl && "opacity-50 cursor-not-allowed pointer-events-none"
          )}
        >
          {codeUrl ? "View Repo" : "Private Repo"}
        </a>
      </div>
    </ProjectDetail>
  </div>

  <Image
    src={mainImage}
    alt={title}
    width={1920}
    height={1080}
    transition:name={`project-${id}`}
    class="w-full h-auto rounded"
  />

  <div class="grid grid-cols-1 sm:grid-cols-5 gap-24 pt-24">
    <div class="col-span-2">
      <div class="flex flex-wrap gap-2">
        {services.map((service) => <ServiceBadge service={service} />)}
      </div>
    </div>
    <div class="prose sm:prose-lg prose-invert col-span-3 max-w-5xl">
      <Content />
    </div>
  </div>
</Layout>

<!-- <script>
  import { SCORE_API_ENDPOINT } from "astro:env/client";

  const scoreElement = document.getElementById("score");

  if (scoreElement) {
    fetch(SCORE_API_ENDPOINT)
      .then((res) => res.text())
      .then((scoreValue) => {
        if (scoreElement) {
          scoreElement.innerHTML = `Score: ${scoreValue}`;
        }
        });
        }
        </script> -->
